################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/wasm-sudoku/v16/.suo
/.vs/wasm-sudoku/v16/Browse.VC.opendb
/.vs/wasm-sudoku/v16/Browse.VC.db-wal
/.vs/wasm-sudoku/v16/Browse.VC.db-shm
/.vs/wasm-sudoku/v16/Browse.VC.db
